


# Output files
*.log
*.data
#*.csv
*.json
*.png
*.pdf
*.mp4
*.exe
*.zip

# PyCharm
/.idea

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/

# IPython
profile_default/
ipython_config.py

# Other
*.pyc
*.xml
notebooks/timing_sweep_f3c6afc3-018e-eb11-a2ce-c4346bcb1550.csv
