


# Output files
*.log
*.data
#*.csv
*.json
*.png
*.pdf
*.mp4
*.exe
*.zip

# PyCharm
/.idea

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/

# IPython
profile_default/
ipython_config.py

